.ctaTagline {
  margin: 0;
  width: 540px;
  position: relative;
  font-size: var(--font-size-29xl);
  letter-spacing: -0.67px;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.ctaText {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.enterYourEmail {
  width: 310px;
  position: relative;
  letter-spacing: -0.25px;
  font-weight: 500;
  display: inline-block;
}
.teamTag {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  min-width: 195px;
}
.signUp {
  position: relative;
  letter-spacing: -0.25px;
}
.imageContainer {
  border-radius: var(--br-9xl);
  background-color: var(--color-mediumaquamarine);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-15xl) var(--padding-mini)
    var(--padding-19xl);
  white-space: nowrap;
  z-index: 1;
  color: var(--color-darkslateblue-100);
}
.cTAText,
.formField {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.formField {
  width: 480px;
  border-radius: var(--br-17xl);
  background-color: var(--color-white);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-4xs)
    var(--padding-11xl);
  box-sizing: border-box;
  row-gap: 20px;
  color: var(--color-gray);
}
.cTAText {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px 0;
  min-width: 351px;
}
.ctaImageIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.cta,
.footerFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.footerFrame {
  height: 298px;
  width: 426px;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  min-width: 426px;
}
.cta {
  width: 1146px;
  border-radius: var(--br-xl);
  background: linear-gradient(180deg, #177fbf, #152b6d);
  flex-direction: row;
  padding: var(--padding-41xl) var(--padding-41xl) var(--padding-48xl);
  gap: var(--gap-41xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 1300px) {
  .cta {
    gap: var(--gap-41xl);
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 1100px) {
  .ctaImageIcon {
    align-self: stretch;
    width: auto;
  }
  .footerFrame {
    flex: 1;
  }
  .cta {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .ctaTagline {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .cTAText,
  .footerFrame {
    min-width: 100%;
  }
  .cta {
    gap: var(--gap-41xl);
  }
}
@media screen and (max-width: 450px) {
  .ctaTagline {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .formField {
    flex-wrap: wrap;
  }
  .cta {
    padding-top: var(--padding-20xl);
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
  }
}
