.featureGroupIcon {
  width: 72px;
  height: 69px;
  position: relative;
}
.line,
.tag1 {
  align-self: stretch;
  position: relative;
}
.line {
  height: 1px;
  background-color: var(--color-silver);
}
.tag1 {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.featureGroup {
  width: 262.6px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  color: var(--color-darkslategray-100);
  display: inline-block;
}
.feature1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px 0;
  min-width: 242px;
  max-width: 263px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 450px) {
  .tag1 {
    font-size: var(--font-size-lgi);
  }
}
