.ourTeam1 {
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.tag {
  border-radius: var(--br-base);
  background-color: var(--color-mediumaquamarine);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-2xs) var(--padding-7xs)
    var(--padding-sm);
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-sm);
}
.teamTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-33xl);
  letter-spacing: -0.72px;
  line-height: 62px;
  font-weight: 700;
  font-family: inherit;
}
.mission {
  width: 1230px;
  position: relative;
  line-height: 28px;
  color: var(--color-black);
  display: inline-block;
}
.imageIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.puneetSaraswat {
  margin: 0;
}
.founderCeo {
  margin: 0;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
}
.puneet,
.team1 {
  align-self: stretch;
}
.puneet {
  position: relative;
}
.team1 {
  width: 263px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
}
.imageIcon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.audreyCisneros,
.coo {
  margin: 0;
}
.coo {
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
}
.audrey,
.team2 {
  align-self: stretch;
}
.audrey {
  position: relative;
}
.team2 {
  width: 263px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
}
.imageIcon2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nishantGupta {
  margin: 0;
}
.aiArchitect {
  margin: 0;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
}
.nishant,
.team3 {
  align-self: stretch;
}
.nishant {
  position: relative;
}
.team3 {
  width: 263px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
}
.imageIcon3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.anshJoshi {
  margin: 0;
}
.fullStackDeveloper {
  margin: 0;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
}
.ansh {
  align-self: stretch;
  position: relative;
}
.team4,
.teamMembers {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.team4 {
  align-self: stretch;
  width: 263px;
  flex-direction: column;
  gap: 20px 0;
}
.teamMembers {
  width: 1230px;
  height: 424px;
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-25xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.valuesTitle {
  margin: 0;
  position: relative;
  font-size: var(--font-size-21xl);
  letter-spacing: -0.56px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-darkslateblue-100);
  text-align: center;
}
.safeResponsible {
  margin: 0;
}
.ourProductsAre,
.weArePrivacy {
  margin-bottom: 0;
}
.weArePrivacyFocusedOurPr {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-5xl);
}
.responsibleAi {
  position: relative;
  line-height: 28px;
  display: inline-block;
  max-width: 100%;
}
.collaborativeInnovation1 {
  margin: 0;
}
.weAreResearchers,
.weForgeSustainable {
  margin-bottom: 0;
}
.weAreResearchersFirstWeF {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-5xl);
}
.collaborativeInnovation {
  position: relative;
  line-height: 28px;
  display: inline-block;
  max-width: 100%;
}
.ourTeam,
.values {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.values {
  border-radius: var(--br-xl);
  background-color: var(--color-aliceblue);
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-55xl);
  gap: 40px 60px;
  text-align: left;
  color: var(--color-black);
}
.ourTeam {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-61xl) var(--padding-41xl);
  gap: 20px 0;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 1300px) {
  .teamMembers,
  .values {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .values {
    flex-wrap: wrap;
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-18xl);
  }
}
@media screen and (max-width: 1100px) {
  .ourTeam {
    padding-top: var(--padding-33xl);
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .teamTitle {
    font-size: var(--font-size-23xl);
    line-height: 50px;
  }
  .teamMembers {
    gap: var(--gap-11xl);
  }
  .valuesTitle {
    font-size: var(--font-size-13xl);
  }
  .values {
    gap: 40px 60px;
  }
  .ourTeam {
    padding: var(--padding-15xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .teamTitle {
    font-size: var(--font-size-12xl);
    line-height: 37px;
  }
  .ansh,
  .audrey,
  .nishant,
  .puneet {
    font-size: var(--font-size-base);
  }
  .valuesTitle {
    font-size: var(--font-size-5xl);
  }
}
