@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-manrope: Manrope;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-33xl: 52px;
  --font-size-23xl: 42px;
  --font-size-12xl: 31px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --font-size-lgi: 19px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-silver: #b6b4bd;
  --color-whitesmoke: rgba(246, 245, 248, 0.24);
  --color-gray: #82808a;
  --color-aliceblue: #e2e8f0;
  --color-darkslateblue-100: #162d73;
  --color-darkslateblue-200: rgba(22, 45, 115, 0.48);
  --color-darkslategray-100: #2f2d3a;
  --color-darkslategray-200: #2e2e2e;
  --color-mediumaquamarine: #41d9ae;

  /* Gaps */
  --gap-20xl: 39px;
  --gap-0: 0px;
  --gap-xl: 20px;
  --gap-8xs: 5px;
  --gap-lgi: 19px;
  --gap-21xl: 40px;
  --gap-11xl: 30px;
  --gap-41xl: 60px;
  --gap-2xl: 21px;
  --gap-90xl: 109px;

  /* Paddings */
  --padding-20xl: 39px;
  --padding-111xl: 130px;
  --padding-13xl: 32px;
  --padding-46xl: 65px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-74xl: 93px;
  --padding-127xl: 146px;
  --padding-54xl: 73px;
  --padding-113xl: 132px;
  --padding-47xl: 66px;
  --padding-xl: 20px;
  --padding-15xl: 34px;
  --padding-2xs: 11px;
  --padding-61xl: 80px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-33xl: 52px;
  --padding-55xl: 74px;
  --padding-18xl: 37px;
  --padding-5xl: 24px;
  --padding-25xl: 44px;
  --padding-3xl: 22px;
  --padding-7xs: 6px;
  --padding-sm: 14px;
  --padding-48xl: 67px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-mini: 15px;
  --padding-19xl: 38px;
  --padding-81xl: 100px;
  --padding-30xl: 49px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-77xl: 96px;
  --padding-43xl: 62px;
  --padding-xs: 12px;
  --padding-base: 16px;
  --padding-smi: 13px;
  --padding-32xl: 51px;
  --padding-6xl: 25px;
  --padding-10xs: 3px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-base: 16px;
  --br-17xl: 36px;
  --br-9xl: 28px;
  --br-13xl: 32px;
}
